*{
    font-family: "Montserrat", sans-serif;

}

.btn-enviar-white:hover {
    box-shadow: 0px 0px 3px 2px #dbdee1d3;
    transition: 0.2s;
}

/*Navegação*/ 
.navbar-brand img{
    width: 120px;
}

.nav-item a{
    color: #063470;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}


/*Titulos*/ 
.title-sections{
    color: #063470;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.title-sections-sobre{
    color: #063470;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px 20px 0px;
}


/*card*/ 
.card-home{
    border: none;
}

.card-home > .card-img-top:hover{
    filter: brightness(50%);
    border-radius: 15px;
}

.card-home > .card-body .card-title{
    font-size: 17px;
    text-align: center;
}



/*Container formulario e sobre*/ 

.container-principal{
    margin-top: 50px;
    background-color: #0450AF;
}

.container-sobre {
    border-right: 1px solid rgba(209, 209, 209, 0.842);
    margin: 50px;
}


/*Diferenciais*/ 

.diferenciais i{
    font-size: 40px;
    background-color: #0450AF;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}


/*pagina nossos cursos*/ 
.nossos-cursos p{
    text-align: start;
    color: #2D2D2D;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

.card-curso{
    border-radius: 20px;
}

.card-curso img{
    margin: auto;
    padding: 20px;
}

.card-curso:hover{
    border: 1px solid #024EAE;
    box-shadow: 0px 0px 3px 1px #0c499997;
}

.card-curso h2{
    color: #063470;
    font-weight: bold;
    font-size: 22px;
}

.card-curso p{
    text-align: start;
}

.btn-curso{
    background-color: #005CAA;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 3px 1px #0c499997;
}

.btn-curso:hover{
    background-color: #0a7de1;
    color: white;
    box-shadow: 0px 0px 7px 3px rgba(18, 103, 215, 0.538);
}

/*Pagina de curso*/ 
.conteudo{
    color: green;
    font-size: 20px;
    -webkit-text-stroke: 1px;
    padding: 2px;
}
.nav-pills .nav-link{
    border: 1px solid #005CAA;
    border-radius: 10px;
    margin-right: 10px;
    padding: 8px 25px;
    color: #005CAA;
    font-weight: 500;
    box-shadow:1px 1px 1px 1px #0a7de13d;
    font-size: 15px;
    margin-top: 10px;
}

.nav-pills .nav-link:hover{
    background-color: #006bc9;
    color: white;
    box-shadow:2px 2px 4px 2px #1b90f752;
    transition: 0.3s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #005CAA;
}

.titulo-nos-cursos{
    color: #005CAA;
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0 15px 0;

}

/*formulario do curso*/
.contato-whats{
    background-color: #05A528 ;
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
}

.contato-whats:hover{
    color: white;
    background-color: #05bf2d ;
    box-shadow:2px 2px 4px 2px #04df3354;
    transition: 0.3s;

}

.input-group-text{
    background-color: #FFF; 
    border-radius: 9px 0px 0px 9px;
    font-size: 14px;
    padding: 8px 10px;
    margin: auto;
    border: 1px solid #595959;
}

.input-group{
    margin-bottom: 8px;
}

.form-control{
    background-color: #FFF; 
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 9px;
    border: 1px solid #595959;

}

.form-control:focus {
    border-color: #595959;
    box-shadow: 0 0 0 0;
} 

.btn-enviar{
    border: 1px solid #595959;
    font-weight: 500;
}

.btn-enviar:hover{
    border: 1px solid #595959;
    font-weight: 500;
    background-color: #005CAA;
    color: white;
    transition: 0.4s;
    
}

/*sobre nos*/ 

#chamada-sobre-nos{
    background-color: #005CAA;
    max-width: 370px;
}

#chamada-sobre-nos a{
    color: white;
    text-decoration: none;
}

#chamada-sobre-nos:hover{
   background-color: #0170d1;
   box-shadow: 0px 0px 3px 1px #0262df97;
    transition: 0.3s;
}

#chamada-sobre-nos i{
    margin-right: 5px;
}


/*Perguntas frequentes*/ 
.accordion {
    --bs-accordion-btn-color: black;
    --bs-accordion-btn-bg: white;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: #0450AF;
}

.accordion-item:hover{
    --bs-accordion-btn-bg: #0450AF;
    --bs-accordion-active-bg: #0450AF;
}

.accordion-item button:hover{
    color: white;
}

.accordion-item button:not(.collapsed) {
    color: white;
}

.accordion-item p{
    font-size: 16px;
    text-align: left;
    font-weight: normal;
}


/*Footer*/ 
.footer{
    font-size: 15px;
}
.footer-links li{
    list-style: none;
    margin-bottom: 10px;
}

.footer-links li a{
    color: white;
    text-decoration: none;
}

.footer-links li i, .footer-links i{
    color: white;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

@media (max-width: 992px) {
    #chamada-reversa-mobile {
        flex-direction: column-reverse;
    }
}
